*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
nav{
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: cadetblue;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  z-index: 55;
  margin-bottom: 3rem;
}
nav img{
  width: 170px;
  
}
.container{
  position: relative;
  
}
.movieData{
  margin: 7rem 0;
  padding: 3rem;
}
.movieCard{
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 83, 86);
  padding: 2rem;
  border-radius: 15px;
  margin: 2rem 0;
  position: relative;
  
}
.fulldisc {
width: 100%;
}
.movielogo{
  width: 200px;
  margin-right: 1rem;
  
}
.banner{
width: 500px;
/* position: absolute;
right: 0;
height: 400px; */
}
.mainDetails{
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.gentime{
  display: flex;
}
.movieCard p{
  font-size: 25px;
}